* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

.nav-links {
  display: flex;
  list-style: none;;
}

.nav-link > a {
  display: block;
  border: 1px solid red;
  background-color: cadetblue;
  padding: 20px 80px;
  text-decoration: none;
}

.nav-content-container {
  position: absolute;
  display: none;
  opacity: 0;
  transform: rotateX(-15deg);
  transform-origin: center -20px;

  &.show {
    display: block;
    transition: transform 0.3s, opacity 0.3s;
  }

  &.open {
    opacity: 1;
    transform: rotateX(0);
  }
}

.nav-content {
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.176) 0px 16px 48px 0px;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: opacity 0.3s;
  z-index: 1;
  transform: translateX(0);

  &.is-visible {
    transition: width 0.3s, height 0.3s, transform 0.3s;
  }
}

.nav-content-item {
  position: absolute;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 0;
  // max-width: 60vw;

  &.active {
    opacity: 1;
    z-index: 1;
  }

  &.item01 {
    width: 300px;
  }

  &.item02 {
    width: 200px;
  }

  &.item03 {
    width: 400px;
  }

  &.item04 {
    width: 300px;
  }
}

@keyframes slideDownIn {
  0% {
   transform: translateY(-20px) scale(0.9, 0.7); 
  }
  100% {
   transform: translateY(0) scale(1, 1); 
  } 
}

.nav-caret {
  position: absolute;
  // background-color: #fff;
  box-shadow: -3px -3px 5px rgba(80, 90, 120, 0.05);
  // height: 12px;
  left: 0;
  top: -8px;
  margin-left: -8px;
  // transform: rotate(45deg);
  transition: opacity 0.3s;
  // width: 12px;
  will-change: transform;

  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;

  &.is-visible {
    transition: transform 0.3s, opacity 0.3s; 
  }
}
